@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
